footer{
    align-content: space-around;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    position: relative;
    padding-top: 2rem;
    nav{
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 3.5rem 1rem 0 1rem;
        padding: 0rem 1rem 0rem 1rem;
        a{
            cursor: pointer;
            transition: all 0.7s ease-in-out;
            &:hover{
                transform: translateY(-2rem);
            }
        }
    }
}