header{
    img{
        &.company-logo{
            padding-top: 1rem;
            padding-bottom: 1rem;
            align-items: center;
            align-content: space-around;
            justify-items: center;
            position:relative;
            display:block;
        }
    }
}

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.5rem;
}