doctype html
html(lang='es')
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie-edge")
        meta(name="author" content="Harvin Zuniga")
        meta(name="description" content="TDI Tecnología y Desarrollo")
        link(rel="shortcut icon" href="./media/TDI-logo.png")
        link(rel="stylesheet", href="./css/animate.css")
        link(rel="stylesheet", href="./css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
        title TDI- Tecnología y Desarrollo
    body.class main  
        header
            img.company-logo(src="", alt="company-logo")
            nav.nav-mmenu
                ul.nav-links
                    li
                        a(href="index.html") Home
                    li
                        a(href="./html/organizacion.html") Nosotros
                    li
                        a(href="./html/products.html") Productos
                    li
                        a(href="./html/contact.html") Contacto
                div.burguer
                    .line1
                    .line2
                    .line3
            section.main-banner
                .banner-container
                    img.banner-images(src="", alt="" id="banner-images")
                #serv-info
                    .title-container
                        h1#h1 Servicio
                    .serv-container
                        p.serv-description Breve descripción del Servicio
                    .button-container
                        button.call-to-action Mas información
        main
            section
                h2
                .company-description
                    p TDI es líder en servicios de tecnología. Es distribuidor y representante de marcas importantes como Lenovo, Cisco, SAP, Microsoft, entre muchas otras. Ofrece infraestructura, software, servicios de TI, así como apoyo y asesoría en la planeación e implementación de tecnología para las empresas.
            section.space-bet-section
                h2.hidden-title Titulo de Sección
                hr
                .main-promos
                    .us
                        img.us-img(src="./media/Quality-Assurance.png" alt="Productos de Calidad")
                        p Productos de Calidad
                    .us
                        img.us-img(src="./media/247serv.png" alt="Servicio 24 7")
                        p Asistencia Técnica 24/7
                    .us
                        img.us-img(src="./media/pesonalcalificado.png" alt="Personal Calificado")
                        p Personal Altamente Calificado
                    .us
                        img.us-img(src="./media/proyectos.jpg", alt="Proyectos a la medida")
                        p Proyectos a la Medida
            section.space-bet-section
                h2 Casos de Éxito
                hr
                .main-promos
                    .business-case
                        p "Trabajar con TDI ha sido la mejor inversión que hemos realizado - Xinwei Inc.
                    .business-case
                        p "TDI nos ha ayudado a establecer politicas correctas en cuanto a nuestros equipos" - Crea Comunicaciones
                    .business-case
                        p "Confiamos en TDI como el socio preferencial en España" - IBM
        footer
            nav.nav-footer
                a.nav-footer-image(href="https://www.facebook.com")
                    img(src="./media/facebook-footer.png" alt="Enlace a Facebook")
                a.nav-footer-image(href="https://twitter.com/?lang=es")
                    img(src="./media/twitter-footer.png" alt="Enlace a Twitter")
                a.nav-footer-image(href="https://instagram.com")
                    img(src="./media/instagram-footer.png" alt="Enlace a Instagram")
                a.nav-footer-image(href="https://linkedin.com")
                    img(src="./media/linked-footer.png" alt="Enlace a LinkedIn")
                a.nav-footer-image(href="https://youtube.com")
                    img(src="./media/youtube-footer.png" alt="Enlace a Youtube")
                a.nav-footer-image(href="./html/Contact.html")
                    img(src="./media/correo-footer.png" alt="Enlace a Contacto")
        script(src="./js/app.js")