.call-to-action{
    background-color:var(--red-color);
    color: white;
    padding: 1rem 4rem 1rem 4rem;
    border-style: none;
    font-family: var(--primary-font), var(--secundary-font);
    display: flex;
    margin-left: 40%;
    margin-right: 33%;
    position: relative;
    z-index:100;
}