<!DOCTYPE html>
<html lang="es">
    <head>
        <title>My First inline/block exercise</title>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <nav class="full-width">
            <p class="quarter-width odd">About</p>
            <p class="quarter-width even">Main Site</p>
            <p class="quarter-width odd">Extras</p>
            <p class="quarter-witdh even">Contact Us</p>
        </nav>
        <body>
            <p>Parrafo</p>
            <br>
            <p>parrafo</p>
        </body>
        <footer>
            <span>About</span>
            <span>Main Site</span>
            <span>Extras</span>
            <span>Contact Us</span>
        </footer>
    </body>
</html>