<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <title>Experiencia - Harvin Zuniga</title>
        </head>
        <body>
            <h1>Harving F. Z&uacute;niga Espinoza</h1>
            <nav>
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./educacion.html">Educaci&oacute;n</span>
                <span><a href="./experiencia.html">Experiencia Laboral</a></span> 
                <span><a href="./servicios.html">Servicios</a></span>   
                <span><a href="./redsoc.html">Redes Sociales</a></span>
                <span><a href="./cotizac.html">Cotizaci&oacute;n</a></span>
                <span><a href="./contacto.html">Contacto</a></span>
            </nav>

        </body>
        <footer>
            <br>
            <p>Informaci&oacute;n actualizada a Abril 2019 | Escribeme a <a href="mailto:harvin.zuniga@gmail.com">harvin.zuniga@gmail.com</a></p>
        </footer>
    </html>