<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <title>Experiencia - Harvin Zuniga</title>
        </head>
        <body>
            <h1>Harving F. Z&uacute;niga Espinoza</h1>
            <nav>
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./educacion.html">Educaci&oacute;n</span>
                <span><a href="./experiencia.html">Experiencia Laboral</a></span> 
                <span><a href="./servicios.html">Servicios</a></span>   
                <span><a href="./redsoc.html">Redes Sociales</a></span>
                <span><a href="./cotizac.html">Cotizaci&oacute;n</a></span>
                <span><a href="./contacto.html">Contacto</a></span>
            </nav>
            <main>
                <br>
                <h3>Experiencia Laboral</h3>
                <br>
                <div>
                    <dl>
                       <dt><strong>Coordinador de Operaciones - Grupo Magdalena (Nicaragua)</strong> </dt>
                            <dd>Garantizar los bienes y servicios solicitados por las unidades de la organizaci&oacute;n. </dd>
                            <dd>Desarrollar e informar procedimientos de log&iacute;stica a proveedores y personal interno. </dd>
                            <dd>Coordinar el mantenimiento de la flota vehicular y la maquinaria agr&iacute;cola. </dd>
                            <dd>Actualizar el cat&aacute;logo de proveedores. </dd>
                            <dd>Supervisar el registro correcto de los costos de combustible, ciclos productivos y proyectos. </dd>
                            <dd>Administraci&oacute;n del plan de telefon&iacute;a empresarial. </dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><strong>Responsable de IT - Grupo Magdalena (Nicaragua)</strong></dt>
                            <dd>Administraci&oacute;n de Sistemas Aspel y Software Ganadero </dd>
                            <dd>Administraci&oacute;n de Windows Server 2008R2, 2012R2 y ESXI VMWare 5.5 </dd>
                            <dd>Administraci&oacute;n de Cuentas de Correo empresarial </dd>
                            <dd>Asistencia a Usuarios </dd>
                            <dd>Reparaci&oacute;n y Mantenimiento de Equipos </dd>
                            <dd>Desarrollo de Sistemas para Mejoras Internas </dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><strong>Responsable Soporte Técnico - Hogar Zacarías Guerra</strong></dt>
                            <dd>Reparaci&oacute;n de Ordenadores</dd>
                            <dd>Asistencia a Usuarios </dd>
                            <dd>Cableado Estructurado </dd>
                    </dl>
                </div>
            </main>
        </body>
        <footer>
            <br>
            <p>Informaci&oacute;n actualizada a Abril 2019 | Escribeme a <a href="mailto:harvin.zuniga@gmail.com">harvin.zuniga@gmail.com</a></p>
        </footer>
    </html>