<!DOCTYPE html>
    <html lang="es">
        <head>
            </head><meta charset="utf-8">
            <title>CV Harvin Z&uacute;niga Espinoza</title>
        </head>
        <body>
            <h1>Harving F. Z&uacute;niga ESpinoza</h1>
            <nav>
                <span><a href="index.html">Inicio</a></span>
                <span><a href="./Plantillas/educacion.html">Educaci&oacute;n</span>
                <span><a href="./Plantillas/experiencia.html">Experiencia Laboral</a></span> 
                <span><a href="./Plantillas/servicios.html">Servicios</a></span>   
                <span><a href="./Plantillas/redsoc.html">Redes Sociales</a></span>
                <span><a href="./Plantillas/cotizac.html">Cotizaci&oacute;n</a></span>
                <span><a href="./Plantillas/contacto.html">Contacto</a></span>
            </nav>
            <main>

            </main>
        </body>
        <footer>

        </footer>      
    </html>