<!DOCTYPE html>
    <html lang="es">
        <head>
            </head><meta charset="utf-8">
            <title>CV Harvin Z&uacute;niga Espinoza</title>
        </head>
        <body>
            <h1>Harving F. Z&uacute;niga Espinoza</h1>
            <nav>
                <span><a href="index.html">Inicio</a></span>
                <span><a href="./Plantillas/educacion.html">Educaci&oacute;n</span>
                <span><a href="./Plantillas/experiencia.html">Experiencia Laboral</a></span> 
                <span><a href="./Plantillas/servicios.html">Servicios</a></span>   
                <span><a href="./Plantillas/redsoc.html">Redes Sociales</a></span>
                <span><a href="./Plantillas/cotizac.html">Cotizaci&oacute;n</a></span>
                <span><a href="./Plantillas/contacto.html">Contacto</a></span>
            </nav>
            <main>
                <h3>Bienvenidos!</h3>
                <img src="./Media/0.jpg" alt="Foto Personal">
                <br>
                <br>
                <div>
                    Hola, bienvenido a mi sitio web. Ac&aacute; encontrar&aacute;s toda la informaci&oacute;n referente a mi experiencia laboral, formaci&oacute;n profesional, servicios profesionales y contacto en redes sociales.
                    <br>
                    <p>Calle Aligustre No.36 | Telef. +34 604 265 954 </p>
                    <a href="https://www.linkedin.com/in/hzunigae"> Visita mi perfil en Linked In</a>
                    <a href="https://github.com/hfzespinoz4/MFR"> Visita mi Trabajo en GitHub</a>
                    <br>
                </div>
                <div>
                    <h3>Introducci&oacute;n</h3>
                    Soy Ingeniero en Sistemas nacido en Managua, Nicaragua. Cuento con diez años de experiencia en Asistencia a Usuarios, Reparaci&oacute;n de ordenadores, Instalaci&oacute;n de Cableado Estructurado, Implementaci&oacute;n y Administraci&oacute;n de Servidores Windows en sus versiones 2003R2, 2008R2, 2012R2 as&iacute; como servidores eSXI VMWare. Busco formar parte de una organizaci&oacute;n donde pueda poner en pr&aacute;ctica mis conocimientos y habilidades para conseguir con el equipo de trabajo las metas propuestas y crecer profesionalmente.
                    <br>
                    <br>
                    Actualmente resido en Madrid, España y me encuentro estudiando Programaci&oacute;n Web Frontend y al mismo tiempo un curso de Ingl&eacute;s comunicativo, ambos gracias al apoyo de Madrid for Refugees, asociaci&oacute;n sin fines de lucro que ayuda a empoderar a los migrantes en Madrid, puedes consultar sobre su trabajo <a href="https://madridforrefugees.org/es/home-2/">aqu&iacute;</a><div class="">
                    <br>
                    Una de mis metas es poder homologar mi t&iacute;tulo universitario en Ingenier&iacute;a en Sistemas en Espa&nacute;a y poder continuar con mi formaci&oacute;n profesional.  
                </div>
                <blockquote cite="http://www.frasedehoy.com/frase/2576/regala-un-pescado-a-un-hombre-y-le-daras-alimento-para-un-dia-ensenale-a-pe" >
                    <p>
                        <strong> Recuerda:</strong>
                        "Regala pescado a un hombre y le dar&aacute;s alimento para un d&iacute;a, enseñale a pescar y lo alimentar&aacute;s para el resto de su vida" - Proverbio Chino
                    </p>
                </blockquote>
            </main>
        </body>
        <footer>
            <br>
            <p>Informaci&oacute;n actualizada a Abril 2019 | Escribeme a <a href="mailto:harvin.zuniga@gmail.com">harvin.zuniga@gmail.com</a></p>
        </footer>      
    </html>