:root{
    --red-color:rgb(207, 52, 39);
    --blue-color:#0076A2;
    --inputs-background: #fff;
    --inputs-border: #bbb;
    --inputs-color: #555;
    --main-font: 'Montserrat';
    --secundary-font:sans-serif;
}