<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <title>Educacion - Harvin Zuniga</title>
        </head>
        <body>
            <h1>Harving F. Z&uacute;niga Espinoza</h1>
            <nav>
                <span><a href="../index.html">Inicio</a></span>
                <span><a href="./educacion.html">Educaci&oacute;n</span>
                <span><a href="./experiencia.html">Experiencia Laboral</a></span> 
                <span><a href="./servicios.html">Servicios</a></span>   
                <span><a href="./redsoc.html">Redes Sociales</a></span>
                <span><a href="./cotizac.html">Cotizaci&oacute;n</a></span>
                <span><a href="./contacto.html">Contacto</a></span>
            </nav>
            <div>
                <article>  
                    <h3>Estudios Realizados </h3>    
                        <ol>
                            <li><strong> Universidad Europea del Atl&aacute;ntico: </strong> Experto en An&aacute;lisis y Diseño de Sistemas (Pendiente) </li>
                            <li><strong> Universidad Earth (Costa Rica 2016): </strong> Herramientas Geoespaciales para la Administraci&oacute;n de Fincas </li>
                            <li><strong> Universidad Hispanoamericana (Nicaragua 2015): </strong> Ingeniero en Sistemas </li>
                            <li><strong> Newlink Cabling System  (Nicaragua 2015): </strong> Instalador Certificado Newlink </li>
                        </ol>   
                    <h3>Habilidades T&eacute;cnicas </h3>    
                        <ul> 
                            <li><strong>Servidores Windows: </strong> Implementaci&oacute;n y Administraci&oacute;n AD, DNS, DHCP, GPO, Terminal Services </li>
                            <li><strong>Servidores Esxi VMWare: </strong> Instalaci&oacute;n y Administraci&oacute;n de Host y Equipos Virtuales  </li>
                            <li><strong>Ubuntu Linux: </strong> Configuraci&oacute;n de Roles DNS y DHCP y Operador WorkStation </li>
                            <li><strong>Microsoft:</strong> SQL Server y Visual Basic.NET - Desarrollo de Aplicaciones enlazadas a bases de datos relacionales </li>
                            <li><strong>Kaspersky </strong> Instalaci&oacute;n y Administraci&oacute;n de Plataformas de Seguridad </li>
                            <li><strong>Reparaci&oacute;n: </strong> Ordenadores y Port&aacute;tiles</li>
                            <li><strong>Cableado Estructurado:</strong> Instación y Reordenamiento de Redes de Datos </li>
                        </ul>
                </article>
            </div>
        </body>
        <footer>
            <br>
            <p>Informaci&oacute;n actualizada a Abril 2019 | Escribeme a <a href="mailto:harvin.zuniga@gmail.com">harvin.zuniga@gmail.com</a></p>
        </footer>
    </html>