<!DOCTYPE HTML>
    <html lang="es">
        <Head>
            <meta charset="utf-8">
            <title >CV Harving F. Zúniga Espinoza</title>
            <link rel="stylesheet" type="text/css" href="../Styles/Styles.css"> <!-- Aquí llamamos al archivo CSS-->
        </Head>
        <body>
            <h1 class="title-lg">Harving F. Z&uacute;niga Espinoza</h1>
            <nav class="menunav">
                <span><a href="index.html"> Inicio</a></span>
                <span><a href="./Experiencia/experiencia.html">Experiencia Laboral</a></span>
                <span><a href="./Educacion/educacion.html">Formaci&oacute;n Acad&eacute;mica</a></span>
                <span><a href="./Contacto/contacto.html"> Contacto </a> </span>
            </nav>
            <Main>
                <section>
                    <h2>Bienvenidos!</h2>
                    <img src="./Media/0.jpg" alt="Foto Personal">
                    <br>
                    <br>
                    <span> Hola, bienvenido a mi sitio web, aquí encontrar&aacute;s toda la informaci&oacute;n relacionada a mis estudios, experiencia laboral, interes, hobbies y redes sociales. Selecciona uno de los enlaces de la barra superiore para que puedas consultar toda la informaci&oacute;n. </span>
                </section>
                
                <div>
                        <p><strong>Ingeniero en Inform&aacute;tica</strong></p> 
                        <p>Calle Aligustre No. 36 |  Telef: +34 604 265 954 | Email: <a href="./Contacto/contacto.html">harvin.zuniga@gmail.com </a></p>
                        <a href= "https://www.linkedin.com/in/hzunigae/"> "Visita mi perfil en LinkedIn" </a>
                        <br>
                </div>
                <section> 
                        <h3> Perfil Profesional y Objetivos </h3>  
                        <p>Ingeniero en Sistemas con diez años de experiencia en Asistencia a Usuarios, Reparaci&oacute;n de Equipos, Cableado Estructurado y Administración de Servidores Windows 2008R2, 
                            2012R2 y eSXI VMWare. Busco formar parte de una organizaci&oacute;n donde pueda poner en pr&aacute;ctica mis habilidades y conocimiento para alcanzar las metas propuestas junto
                        con el equipo de trabajo y crecer profesionalmente.</p> 
                </section>
                <Blockquote cite= 'http://www.frasedehoy.com/frase/2576/regala-un-pescado-a-un-hombre-y-le-daras-alimento-para-un-dia-ensenale-a-pe'>
                    <strong>Recuerda:</strong>
                    <p> "Regala un pescado a un hombre y le dar&aacute;s alimento para un d&iacute;a, enseñale a pescar y lo alimentar&aacute;s para el resto de su vida"  - Proverbio Chino</p>
                </Blockquote>
            </Main>
            <Footer>
                <br>
                <p> Informaci&oacute;n actualizada a Abril 2019 | Escribime: <a href="./Contacto/contacto.html">harvin.zuniga@gmail.com</a></p>
            </Footer>
        </body>        
    </html>
